.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

sml_test/
reverse-polish/

src/main
tiger/tiger
tiger/tiger.grm.desc
tiger/tiger.grm.sig
tiger/tiger.grm.sml
tiger/tiger.lex.sml
target/mips
Dockerfile


